*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/*----------------------------------------------HEADER-----------------------------------------*/

.hero-image{
    background-image: url(../image/ImageGen%201.jpg);
    height: 980px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background: #231F20;
    width: 100%;
    top: 0;
    position: fixed;
}

.startnavn{
    float: left;
    width: 100%;
}

.menu-font{
    height: 20px;
    float: left;
    display: block;
    padding: 30px 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.menu-font a{
    padding: 30px 20px;
    color: #f1f1f1;
    text-decoration: none;
}
.menu-font a:hover{
    color: #47beae;
}

#join-login{ 
    float: right;
    padding: 30px 10px;
}

#join-login a{ 
    padding: 30px 5px;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

.hero-image-text{
    color: #f1f1f1;
    text-align: center;
    padding: 300px 0;
}

.hero-image-text h1{
    font-size: 120px;
    font-style: italic;
    font-weight: 100;
    text-shadow: 2px 2px 4px #000000;
}

#bindestreg{
    margin: 0 auto;
    border-bottom: 5px solid #f1f1f1;
    width: 80px;
    box-shadow: 2px 2px 4px #000000;
}

.hero-image-text h2{
    padding-top: 20px;
    font-size: 22px;
    font-weight: 900;
    color: #00873F;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.hero-image-text h3{
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
    color: #00873F;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.hero-image-text h4{
    margin: 0 auto;
    padding: 5px 90px;
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    border:  3px solid #f1f1f1;
    width: 100px;
    transition: background-color 0.5s ease;
}

.hero-image-text h4:hover{
    background-color: #00873F;
}

.hero-image-text h4 a{
    text-decoration: none;
    color: #f1f1f1;
}

#logo{
    padding: 11px 0px;
    width: 300px;
    height: 40px;
}

/*----------------------------------------------MAIN-----------------------------------------*/

#section2{
    padding-top: 80px;
}

.text{
    padding: 40px 0;
    text-align: center;
    line-height: 50px;
}

.text h3{
    font-size: 40px;
    font-style: italic;
    color: #B09759;
}

.text h1{
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 30px;
}

.text h2{
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: 30px;
}

.text h4{
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: 30px;
}

.hero-image2{
    background-image: url(../image/ImageGen.jpg);
    height: 550px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image2-text{
    color: #f1f1f1;
    text-align: center;
    padding: 120px 0;
}
/*-------------------------------------PRISER-------------------------------------*/
.pris{
    text-align: center;
    margin: 10px;
    float: left;
    height: 550px;
    width: calc(50% - 80px);
    border: 30px double #00873F;
}

.prisstreg{
    padding-top: 80px;
    margin: 0 auto;
    border-bottom: 8px solid #00873F;
    width: 80px;
}

.pris h1{
    margin-top: 10px;
}

.pris h1,h2,h3,h4,h5,h6{
    padding: 5px;
}

.pris h2{
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
}

.pris h3{
    font-size: 120px;
    font-weight: 900;
}

.pris h4,h5{
    font-size: 22px;
    font-weight: 100;
}

.pris h5{
    text-decoration: line-through #00873F;
    padding-bottom: 20px;
}

.pris h6{
    padding: 10px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    border:  3px solid #00873F;
    width: 180px;
    transition: background-color 0.5s ease;
}

.pris h6:hover:hover{
    background-color: #00873F;
    color: #f1f1f1;
}

.pris2{
    text-align: center;
    margin: 10px;
    float: left;
    height: 400px;
    width: calc(33% - 77px);
    border: 30px double #e12178;
}

.prisstreg2{
    padding-top: 50px;
    margin: 0 auto;
    border-bottom: 8px solid #e12178;
    width: 80px;
}

.pris2 h1{
    margin-top: 10px;
}

.pris2 h2{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.pris2 h3{
    font-size: 60px;
    font-weight: 900;
}

.pris2 h4{
    font-size: 26px;
    font-weight: 100;
}
.pris2 h5{
    font-size: 18px;
    text-decoration: line-through #e12178;
    padding-bottom: 20px;
}

.pris2 h6{
    padding: 10px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    border:  3px solid #e12178;
    width: 120px;
    transition: background-color 0.5s ease;
}

.pris2 h6:hover:hover{
    background-color: #e12178;
    color: #f1f1f1;
}

/*-------------------------------------BRUG AF KLIP-------------------------------------*/

.klip{
    margin: 10px 0px 0px 0px;
    height: 300px;
    background-color: #F6F6F6;
    clear: both;
}

.klipstreg{
    padding-top: 50px;
    margin-left: 10px;
    border-bottom: 8px solid #B09759;
    width: 80px;
}

.klip h1{
    padding: 30px 10px 10px 10px;
    text-transform: uppercase;
}

.klip h2{
    padding: 10px;
    font-weight: 100;
    font-size: 22px;
}

.klip h3{
    padding: 0px 10px 10px 10px;
    font-weight: 100;
    font-size: 22px;
}

.hero-image3{
    background-image: url(../image/men-working-out.jpg);
    height: 550px;
    background-position: bottom;
    background-repeat: no-repeat;
}

/*-------------------------------------Udvalgte centre-------------------------------------*/

.udvalgte-centre{
    padding: 40px 0;
    text-align: center;
    line-height: 50px;
}

.udvalgte-centre h3{
    font-size: 40px;
    font-style: italic;
    color: #B09759;
}

.udvalgte-centre h2{
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: 30px;
}

.centre{
    margin: 10px;
    float: left;
    height: 600px;
    width: calc(33% - 17px);
}

.centre h1{
    text-transform: uppercase;
}

.centre h6{
    font-size: 16px;
    font-weight: 100;
}